<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg " style="background-color: #b84f3c;">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: whitesmoke" href="/">Radar</a>
    </div>
</nav>
<div class="container">
    <h1>Извините, я не успел разработать эту страницу :(</h1>
    <p th:if="${message != null}" th:text="${message}"></p>
    <br>
    <br>
    <a role="button" class="btn btn-primary" style="background-color: #b84f3c" href="/"> Перейти на главную</a>
</div>
</body>
</html>
