<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Radar</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Пользователи</h1>
  <div class="row">
  </div>
  <h4>Поиск</h4>
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <form method="POST" th:action="@{/users/search}" th:object="${userSearchForm}">-->
<!--        <div class="row">-->
<!--          <div class="col-auto">-->
<!--            <label for="login" class="col-form-label">Логин</label>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <input name="login" type="text" class="form-control" id="login">-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <label for="firstName" class="col-form-label">Имя</label>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <input name="firstName" type="text" class="form-control" id="firstName">-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <label for="lastName" class="col-form-label">Фамилия</label>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <input name="lastName" type="text" class="form-control" id="lastName">-->
<!--          </div>-->

<!--          <div class="col-auto">-->
<!--            <button type="submit" class="btn btn-primary">Поиск</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Логин</th>
      <th scope="col">Почта</th>
      <th scope="col">Роль</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <!--        Перебор пользователей-->
    <tr th:each="user: ${users}">
      <td th:text="${user.login}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.getRole().getDescription()}"></td>
      <td>
        <a
                th:href="'/users/profile/' + ${user.id}"
                class="btn btn-primary"
                role="button"
                aria-disabled="true">Просмотреть</a>
        <a
            th:if="${!user.subscribe}"
            th:href="'/users/add-subscribe/' + ${user.id}"
            class="btn btn-danger"
            role="button"
            onclick="return confirm('Вы действительно хотите дать подписку пользователю?');"
            aria-disabled="true">Оформить подписку</a>
        <a
                th:if="${user.subscribe}"
                th:href="'/users/remove-subscribe/' + ${user.id}"
                class="btn btn-danger"
                role="button"
                onclick="return confirm('Вы действительно хотите удалить подписку пользователя?');"
                aria-disabled="true">Удалить подписку</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>